<!-- <link href="/css/style.css" rel="stylesheet" type="text/css">
<h1>Tiny App</h1> -->

<%- include _mainHeader.ejs %>

<% if (!user_id) { %>
  <div class="header__not-loggedin">
    <a href="/register" class="header__not-loggedin-register">Create Account</a>
    <form method="GET" action="/">
      <button type="submit" class="header__not-loggedin-button">Login</button>
    </form>  
  </div>
<% } else { %>
  <div class="header__loggedin">
    <div class="header__loggedin-as"><span class="header__loggedin-as__green">Logged in as: </span><%=user_id.email%></div>
    <form method="POST" action="/logout">
      <button type="submit" class="header__loggedin-logout">Logout</button>
    </form>
  </div>
<% } %>