<header>
  <div class="main__header">
    <div class="main__title">
      <span class="main__title-name">TINY APP</span>
      <i class="fas fa-leaf main__title-logo"></i>
    </div>
  </div>
</header>