<% if (!user_id) { %>
  Login:
  <form action="/login" method="post">
    <label for="email">Email:</label>
    <input id="email" type="email" name="email">
    <label for="password">Password:</label><input id="password" type="password" name="password">
    <input type="submit" value="Login">
  </form>
<% } else { %>
  Logged in as: <%=user_id.email%>
  <form method="POST" action="/logout">
        <button type="submit">Logout</button>
  </form>
<% } %>
