<!DOCTYPE html>
<html lang="en">
  <%- include partials/_head.ejs %>

  <body>
    <header>
      <%- include partials/_mainHeader.ejs %>
    </header>
    
    <div class="main__body">
      <!-- <p class="login__title">Tiny App</p> -->
      <p class="main__description">Tiny App is a full stack web application built with Node and Express that allows users to shorten long URLs.</p>

      <% if (!user_id) { %>
        <div class="main__login">
          <i class="far fa-user fa-2x"></i>
          <form action="/login" method="post">
            <div class="main__email">
              <label for="email" class="main__email-text">Email:</label>
              <input id="email" type="email" name="email" class="main__email-field">
            </div>
            <div class="main__password">
              <label for="password" class="main__password-text">Password:</label>
              <input id="password" type="password" name="password" class="main__password-field">
            </div>
            <input type="submit" value="Login" class="main__login-button">
          </form>
          <div class="main__register">
            New here? <a href="/register">Create Account</a>
          </div>
          <% } else { %>
            Logged in as: <%=user_id.email%>
            <form method="POST" action="/logout">
                  <button type="submit">Logout</button>
            </form>
    
            Go to my saved URLs.
        </div>
      <% } %>
    </div>
  </body>

</html>
