<!DOCTYPE html>
<html lang="en">
  <head></head>
    <body>
      Register as a User:
      <form action="/register" method="post">
        <label for="email">E-mail:</label>
        <input id="email" type="email" name="email">
        <label for="password">Password:</label>
        <input id="password" type="password" name="password">
        <input type="submit" value="register">
      </form>

    </body>
</html>