<!DOCTYPE html>
<link href="/css/style.css" rel="stylesheet" type="text/css">
<html lang="en">
  <%- include partials/_header.ejs %>
  <body>

    Register as a User:
    <form action="/register" method="post">
      <label for="email">E-mail:</label>
      <input id="email" type="email" name="email">
      <label for="password">Password:</label>
      <input id="password" type="password" name="password">
      <input type="submit" value="Register">
    </form>

  </body>
</html>