<header>
    <%- include partials/_header.ejs %>
</header>

<p> ShortURL: <%= shortURL %></p>
<form method="POST" action="/urls/<%=shortURL%>/update">
  <input type="text" name="longURL" value="<%= longURL %>" />
  <button type="submit">Update</button>
</form>

