.register__body {
  font-family: 'Raleway', sans-serif;
  padding: 20px 10px;
  background: none;
  position: relative;
}

.register__description {
  position: absolute;
  width: 500px;
  right: 50px;
  top: 50px;
}

.register__form {
  position: absolute;
  width: 500px;
  right: 50px;
  top: 90px;
}

.register__email {
  position: relative;
}

.register__email-text, .register__password-text {
  line-height: 30px;
}

.register__email-field, .register__password-field {
  position: absolute;
  left: 80px;
  width: 300px;
}

.register__form-button {
  border-radius: 4px;
  background-color: black;
  color: white;
  border: none;
  margin: 8px 0;
}